* {
    margin: 0;
    padding: 0;
}

main {
    max-width: 1100px;
    min-width: 500px;
    margin: auto;
    margin-top: 50px;
}

p {
    padding: 20px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

h4, .time {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.time {
    color: gray;
    font-size: 13px;
}

.row-pink {
    width: 100%;
    display: flex;
}

.row-pink-one {
    width: 27%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.row-pink-two {
    width: 46%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-pink-three {
    width: 27%;
}

.massage-pink {
    width: 95%;
    background-color: pink;
    border-radius: 20px 20px 20px 0;
    margin: 10px;
}

.massage-blue {
    width: 95%;
    background-color: rgb(107, 178, 196);
    border-radius: 20px 20px 0 20px;
    margin: 10px;
}

.row-blue {
    width: 100%;
    display: flex;
}

.row-blue-one {
    width: 27%;
}

.row-blue-two {
    width: 46%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-blue-three {
    width: 27%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.account-pink {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.account-blue {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
